/* Admin page*/
section.admin {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--footer-height));
}

section.admin .admin-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

section.admin .admin-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 10em;
    text-decoration: none;
    background-color: var(--white);
    border: 2px solid var(--primary);
    border-radius: 2em;
    color: var(--primary);
    font-size: 1em;
    transition: all 0.25s ease;
    cursor: pointer;
}

section.admin .admin-card:hover {
    background-color: var(--primary);
    color: var(--white);
}

section.admin .admin-card svg{
    height: 3em;
    width: 3em;
}

/**/
.admin-container {
    width: 100%;
    height: 100%;
}

.btn-primary {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    color: var(--muted);
}

.modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.confirm {
    background: var(--delete);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.cancel {
    background: var(--white);
    border: 0.1em solid var(--light-gray);
    color: var(--light-gray);
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.confirm:hover {
    background: var(--delete-hover);
}

.cancel:hover{
    background: var(--muted);
    color: var(--white);
}

.admin-form textarea {
    min-height: 100px;
    resize: vertical;
}
