.main-page-footer {
    color: var(--white);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    position: absolute;
    bottom: 0;
    width: 100%;
}
