.section-home p {
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: var(--header-height);
    height: calc(100% - var(--footer-height) - var(--header-height));
}

.main-content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .08);
}


@media (max-width: 820px) {
    .main-content {
        grid-template-columns: 1fr;
    }
}
