.login-container {
    width: 60%;
}

.recovery-register-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recovery-register-user a {
    color: var(--primary);
    transition: all 0.25s ease;
}

.recovery-register-user a:hover {
    color: var(--hover-primary);
}
