
.product-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .05);
    transition: transform .12s ease, box-shadow .12s ease;
    color: var(--muted);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
}

.product-card .media {
    background: #f6f6f6;
    display: grid;
    place-items: center;
    aspect-ratio: 4 / 3;
    padding: 6px;
}

.product-card .media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card .card-body {
    padding: 10px;
    height: 100%;
    min-height: 9rem;
}

.product-card h3 {
    font-size: 0.95rem;
    line-height: 1.2;
    margin: 0 0 6px;
}

.product-card .desc {
    color: #555;
    margin: 4px 0 6px;
    line-height: 1.3;
    font-size: 0.85rem;
}

button {
    width: 90%;
    margin: 10px 4px;
    align-self: center;
}

.admin-actions {
    padding: 0 1rem;
}

.btn-edit {
    margin: 0 0 0.5rem 0;
    background-color: var(--primary);
    transition: all 0.25s ease;
}

.btn-delete {
    margin: 0 0 0.5rem 0;
    background-color: var(--delete);
    transition: all 0.25s ease;
}

.btn-edit:hover {
    background-color: var(--hover-primary);
}

.btn-delete:hover {
    background-color: var(--delete-hover);
}

.btn-delete, .btn-edit {
    width: 100%;
    padding: 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-delete svg, .btn-edit svg {
    margin-right: 0.5rem;
}
