.btn {
    display: inline-block;
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 10px;
    margin-top: 8px;
    border: none;
}

.btn:hover{
    background: var(--hover-primary);
}
.cart-btn {
    padding: 8px 10px;
    margin: 0;
}
