
* {
    box-sizing: border-box
}

html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: var(--bg);
    font-family: system-ui, "Segoe UI Symbol";
    background-image: url("./../assets/background.png") !important;
}


.navbar {
    height: var(--header-height);
    position: fixed;
    top: 0;
    z-index: 50;
    background: rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 12px 16px;
    color: var(--white);
}

.brand {
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    letter-spacing: .3px;
    font-size: 1.5em;
    color: var(--white);
}

.brand:hover {
    color: var(--hover-primary) !important;
}

.burger {
    display: none;
    background: none;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
}

.nav-links a.log-in, .nav-links .btn{
    display: inline-block;
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 10px;
    border: none;
    width: auto;
}

.nav-links a:not(.log-in):hover {
    color: var(--hover-primary);
}

.nav-links a.log-in:hover,  .nav-links .btn:hover {
    background: var(--hover-primary);
}

.nav-user .user-name {
    color: var(--primary);
}

@media (max-width: 680px) {
    .brand-title {
        display: none;
    }

    .burger {
        display: block;
        width: 13%;
    }

    .nav-user{
        color: var(--text);
    }

    .nav-links a {
        color: var(--primary);
    }
    .nav-links {
        position: absolute;
        top: 56px;
        right: 12px;
        background: var(--white);
        border: 1px solid #eee;
        border-radius: 12px;
        padding: 12px;
        flex-direction: column;
        gap: 10px;
        display: none;
        box-shadow: 0 8px 24px rgba(0, 0, 0, .08);
    }

    .nav-links.open {
        display: flex;
    }
}
