.products-container {
    position: absolute;
    top: var(--header-height);
    height: calc(100% - var(--header-height) - var(--footer-height));

    padding: 10px 0;
}

.products-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    overflow-y: auto;
    height: calc(100% - 132px);
}
