:root {
    /* COLORES GENERALES*/
    --primary: #00C896;
    --hover-primary: #00C896;
    --text: #2d2d2d;
    --muted: #6d6d6d;
    --bg: #f8f8f8;
    --white: #fff;
    --light-gray: #6d6d6d;

    /* Altos*/
    --header-height: 70px;
    --footer-height: 30px;
}
